/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.logo_small1 {
  background-image: url(../images/sprite.png);
  background-position: -301px 0px;
  width: 150px;
  height: 106px;
}
.logo_small2 {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 300px;
  height: 300px;
}
