/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.logo-mini {
  background-image: url(../images/sprite.png);
  background-position: 0px -91px;
  width: 201px;
  height: 55px;
}
.logo {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 327px;
  height: 90px;
}
