@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"),local(OpenSansLight-Italic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrXcjzEax2LfQAlK8DdMzhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxko2lTMeWA_kmIyWrkNCwPc.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"),local(OpenSans-Italic),url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBmfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"),local(OpenSans-SemiboldItalic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxo8mkAiYpFywqG2RvpzBnTU.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxl2umOyRU7PgRiv8DXcgJjk.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"),local(OpenSans-BoldItalic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxrFt29aCHKT7otDW9l62Aag.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans Extrabold Italic"),local(OpenSans-ExtraboldItalic),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxphT2rkLFFMVLymfgfmWVtI.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxnibbpXgLHK_uTT48UMyjSM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),local(OpenSans-Light),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),local(OpenSans),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"),local(OpenSans-Semibold),url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"),local(OpenSans-Bold),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"),local(OpenSans-Extrabold),url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff"); }
/*
	Theme Name: Cardboard Theme
	URI: http://cardboard.ru
	Description: Cardboard Wordpress theme
	Version: 1.0
	Author: Timur Karshiev
	URI: http://cardboard.ru
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
* ----------------------------------------------------------------------------------------------------
* VARIABLES
* ----------------------------------------------------------------------------------------------------
*/
/**
* ----------------------------------------------------------------------------------------------------
* MIXINS
* ----------------------------------------------------------------------------------------------------
*/
/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
  display: inline-block; }

body {
  font-family: "Open Sans";
  font-size: 16px; }

html, body {
  height: 100%; }

.wrap {
  min-height: 100%;
  margin-bottom: -165px; }

.wrap:after {
  content: "";
  display: block; }

.footer, .wrap:after {
  height: 165px; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #e3621c; }
  a:hover,
  a:active,
  a:focus {
    color: #000; }

h2 {
  font-weight: bold;
  font-size: 29px;
  margin-bottom: 25px; }

h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px; }

h4 {
  font-weight: bold; }

p {
  line-height: 25px; }

input[type=text],
input[type=email],
input[type=tel],
textarea {
  padding-left: 10px;
  border: 1px solid #C6C6C8;
  outline: none;
  height: 40px; }

textarea {
  height: auto; }

/**
* ----------------------------------------------------------------------------------------------------
* HELPERS
* ----------------------------------------------------------------------------------------------------
*/
.btn {
  display: inline-block;
  padding: 9px 20px;
  color: #e3621c;
  border: 1px solid #e3621c;
  text-transform: uppercase;
  outline: none; }
  .btn:hover,
  .btn:active,
  .btn:focus {
    text-decoration: none;
    background: #e3621c;
    color: #fff;
    -webkit-transition: .4s color;
    transition: .4s color;
    -webkit-transition: .3s background;
    transition: .3s background;
    outline: none; }

.btn-order {
  color: #fff;
  background: #e3621c; }
  .btn-order:hover,
  .btn-order:active,
  .btn-order:focus {
    background: #f97933;
    border-color: #f97933; }

.btn-small {
  padding: 7px 18px;
  font-size: 14px; }

.btn-orange {
  background: #e3621c;
  color: #fff; }
  .btn-orange:hover {
    background: #A13901; }

/*------------------------------------*    Boostrap menu
\*------------------------------------*/
.navbar {
  border: none; }

.navbar-default {
  background: none; }

.navbar-collapse {
  padding-left: 0;
  padding-right: 0; }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.logo {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 350px;
  height: 106px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

header.header {
  padding-top: 20px; }

.header-top {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px; }

.logo {
  display: block; }

.header-info__phone {
  float: left;
  margin-top: 6px;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  color: #333; }
  .header-info__phone:hover,
  .header-info__phone:active,
  .header-info__phone:focus {
    text-decoration: none; }
  .header-info__phone:before {
    content: '\f095';
    font-family: FontAwesome;
    position: absolute;
    top: -3px;
    left: -50px;
    background: #e3621c;
    color: #fff;
    font-size: 26px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: 8px;
    text-align: center;
    width: 40px;
    height: 40px; }

.header-info__callback {
  float: right;
  padding: 12px 20px; }

/*------------------------------------*    Menu
\*------------------------------------*/
.navbar-default {
  margin-bottom: 0; }

#menu-main > li {
  float: left;
  margin-right: 30px; }
  #menu-main > li:hover a {
    color: #e3621c;
    text-decoration: none; }

#menu-main li.current-menu-item a {
  color: #e3621c; }
  #menu-main li.current-menu-item a:after {
    color: #e3621c !important; }

#menu-main > li > a {
  position: relative;
  color: #333;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: .1s color;
  transition: .1s color; }
  #menu-main > li > a:hover,
  #menu-main > li > a:active,
  #menu-main > li > a:focus {
    text-decoration: none; }

#menu-main a:hover,
#menu-main a:active,
#menu-main a:focus {
  text-decoration: none; }

#menu-main .menu-item-has-children:hover .sub-menu {
  display: block; }

#menu-main .sub-menu {
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 0;
  display: none; }
  #menu-main .sub-menu li {
    float: none;
    margin-right: 0; }
    #menu-main .sub-menu li a {
      display: block;
      color: #fff;
      background: #e3621c;
      padding: 10px 10px;
      border-bottom: 1px solid #FCAE83;
      font-size: 15px;
      text-transform: none;
      font-weight: normal; }
      #menu-main .sub-menu li a:hover {
        background: #A13901; }
    #menu-main .sub-menu li:last-child a {
      border: none; }
  #menu-main .sub-menu:after {
    content: '';
    position: absolute;
    top: -9px;
    left: 40px;
    border-bottom: 9px solid #e3621c;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent; }

#menu-main > li:first-child > a {
  position: relative; }
  #menu-main > li:first-child > a:after {
    content: '\f078';
    color: #000;
    font-family: FontAwesome;
    position: absolute;
    top: 10px;
    right: -12px;
    font-size: 8px;
    margin-top: -4px; }

#menu-main > li:first-child:hover > a:after {
  color: #e3621c; }

#menu-main > li:last-child {
  margin-right: 0; }

/*------------------------------------*    Slider
\*------------------------------------*/
.slider {
  margin-bottom: 30px; }

.slick-prev,
.slick-next {
  z-index: 1;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  width: 50px;
  height: 50px;
  color: transparent;
  background: none;
  border: none;
  outline: none; }
  .slick-prev:after,
  .slick-next:after {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 2px;
    color: #fff;
    font-size: 50px; }

.slick-prev {
  left: 20px; }
  .slick-prev:after {
    content: '\f137'; }

.slick-next {
  right: 20px; }
  .slick-next:after {
    content: '\f138'; }

/**
***************************************************************
* =MAIN
***************************************************************
**/
.aside-cats .cat-item a {
  position: relative;
  display: block;
  padding: 15px 30px 15px 10px;
  color: #000;
  border-bottom: 1px solid #eee; }
  .aside-cats .cat-item a:hover,
  .aside-cats .cat-item a:active,
  .aside-cats .cat-item a:focus {
    text-decoration: none;
    color: #e3621c; }
    .aside-cats .cat-item a:hover:after,
    .aside-cats .cat-item a:active:after,
    .aside-cats .cat-item a:focus:after {
      right: 25px; }
  .aside-cats .cat-item a:after {
    content: '\f054';
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    right: 20px;
    color: #9A9A9A;
    font-size: 12px;
    -webkit-transition: right .5s;
    transition: right .5s; }

.aside-cats .current-cat a {
  color: #fff;
  background: #e3621c;
  border-bottom: none; }
  .aside-cats .current-cat a:hover,
  .aside-cats .current-cat a:active,
  .aside-cats .current-cat a:focus {
    color: #fff;
    background: #e3621c; }
  .aside-cats .current-cat a:after {
    content: ''; }

/*------------------------------------*    Main catalog section list
\*------------------------------------*/
.category-desc {
  font-size: 15px;
  margin-bottom: 40px; }

.sec-list__item {
  margin-bottom: 20px; }

.sec-list__image-link {
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 20%; }

.sec-list__name {
  font-size: 18px;
  font-weight: bold; }
  .sec-list__name:hover,
  .sec-list__name:active,
  .sec-list__name:focus {
    text-decoration: none; }

/*------------------------------------*    Hits
\*------------------------------------*/
.recent {
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px; }

.wp-post-image,
.recent__img {
  margin-bottom: 10px; }

.recent__name {
  display: block;
  margin-bottom: 10px;
  font-size: 20px; }
  .recent__name:hover,
  .recent__name:active,
  .recent__name:focus {
    text-decoration: none; }

.recent__info {
  display: inline-block;
  margin-bottom: 10px;
  color: #9A9A9A;
  font-size: 15px; }

.recent__price {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: right;
  font-size: 20px; }

.recent__discount {
  color: #9A9A9A;
  text-decoration: line-through;
  text-align: right;
  margin-bottom: 10px; }

.recent__order {
  float: right; }

/* Catalog item list */
.recent--cat .recent__item {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin: 2%; }

/*------------------------------------*    Handmade
\*------------------------------------*/
.handmade {
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px; }

.handmade__img {
  float: left;
  margin-right: 20px; }

/*------------------------------------*    Main page news
\*------------------------------------*/
.main-page-news-header h2 {
  display: inline-block;
  float: left; }

.main-page-news-header__all {
  display: inline-block;
  float: right; }

.news-list img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 120px;
  max-height: 50px; }

.news-list__item {
  margin-bottom: 20px; }

.news-list__date {
  position: relative;
  padding-left: 20px;
  color: #9A9A9A; }
  .news-list__date:after {
    content: '\f073';
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: 0; }

.news-list__name {
  display: block;
  margin-top: 5px; }
  .news-list__name:hover,
  .news-list__name:active,
  .news-list__name:focus {
    text-decoration: none; }

/*------------------------------------*    Breadcrumbs
\*------------------------------------*/
.breadcrumbs {
  margin-bottom: 20px; }
  .breadcrumbs a {
    color: #9A9A9A;
    font-size: 12px; }
    .breadcrumbs a:hover,
    .breadcrumbs a:active,
    .breadcrumbs a:focus {
      text-decoration: none; }
  .breadcrumbs i {
    color: #e3621c;
    font-size: 10px; }
  .breadcrumbs .active {
    font-size: 13px;
    color: #e3621c; }

/*------------------------------------*    Pagination
\*------------------------------------*/
.wp-pagenavi {
  text-align: center; }
  .wp-pagenavi a:first-child,
  .wp-pagenavi .current:first-child {
    border-left: 1px solid #eee !important; }
  .wp-pagenavi a,
  .wp-pagenavi .current {
    display: inline-block;
    margin: 0 !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    border-right: 1px solid #eee !important;
    border-left: none !important;
    padding: 10px !important; }
    .wp-pagenavi a:hover,
    .wp-pagenavi a:active,
    .wp-pagenavi a:focus,
    .wp-pagenavi .current:hover,
    .wp-pagenavi .current:active,
    .wp-pagenavi .current:focus {
      text-decoration: none; }
  .wp-pagenavi a:hover,
  .wp-pagenavi a:active,
  .wp-pagenavi a:focus {
    background: #e3621c;
    color: #fff; }
  .wp-pagenavi .current {
    background: #e3621c;
    color: #fff; }

/**
***************************************************************
* =PAGES
***************************************************************
**/
/*------------------------------------*    NEWS
\*------------------------------------*/
.news__item {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee; }
  .news__item:last-child {
    border: none; }

.news__name {
  display: inline-block;
  margin-bottom: 10px;
  color: #e3621c;
  font-weight: bold; }
  .news__name:hover,
  .news__name:active,
  .news__name:focus {
    text-decoration: none; }

.news__date {
  display: block;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  color: #9A9A9A; }
  .news__date:after {
    content: '\f073';
    font-family: FontAwesome;
    position: absolute;
    top: 0px;
    left: 0; }

.news__excerpt {
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 10px; }

/*------------------------------------*    Single news
\*------------------------------------*/
.single-news img {
  float: left;
  margin-right: 10px; }

.single-news__text {
  font-size: 15px;
  margin-bottom: 15px; }

.single-news__back {
  position: relative;
  margin-left: 25px;
  color: #e3621c;
  font-size: 18px; }
  .single-news__back:after {
    content: '\f0a5';
    font-family: FontAwesome;
    position: absolute;
    top: 2px;
    left: -25px;
    font-size: 18px; }

/*------------------------------------*    Faq
\*------------------------------------*/
.faq {
  list-style-type: none; }

.faq__name {
  position: relative;
  display: block;
  padding: 20px 30px 20px 0;
  cursor: pointer;
  border-bottom: 2px solid #9A9A9A;
  font-size: 19px;
  font-weight: bold;
  -webkit-transition: border-bottom .3s;
  transition: border-bottom .3s; }
  .faq__name:hover {
    border-bottom: 2px solid #e3621c; }
    .faq__name:hover i {
      color: #e3621c; }
  .faq__name i {
    position: absolute;
    top: 11px;
    right: 0;
    font-size: 30px;
    color: #9A9A9A;
    -webkit-transition: color .3s;
    transition: color .3s; }

.faq__name--active {
  border-bottom: 2px solid #e3621c; }
  .faq__name--active:hover {
    border-bottom: 2px solid #e3621c; }
    .faq__name--active:hover i {
      color: #e3621c; }
  .faq__name--active i {
    color: #e3621c; }

.faq__content {
  display: none;
  padding-top: 10px;
  font-size: 18px;
  line-height: 22px; }

/*------------------------------------*    Contact page
\*------------------------------------*/
.callback-form--contact {
  width: 400px; }
  .callback-form--contact input[type=text],
  .callback-form--contact input[type=email],
  .callback-form--contact input[type=tel],
  .callback-form--contact textarea {
    width: 100%; }
  .callback-form--contact span[role=alert] {
    color: #E31D1D;
    font-size: .9em; }
  .callback-form--contact + div[role=alert] {
    width: 400px;
    border-color: #E31D1D;
    padding: 10px; }

/*------------------------------------*    Callback form
\*------------------------------------*/
.callback-form .modal-header {
  position: relative;
  text-align: center;
  background: #eaf0f2;
  border: none; }
  .callback-form .modal-header .modal-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; }
  .callback-form .modal-header .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    outline: none;
    border: none; }
    .callback-form .modal-header .close i {
      color: #9A9A9A;
      font-size: 30px;
      -webkit-transition: color .2s;
      transition: color .2s; }
    .callback-form .modal-header .close:hover i {
      color: #e3621c; }

.callback-form .modal-body {
  overflow: hidden; }
  .callback-form .modal-body form {
    width: 407px;
    margin: 0 auto; }
    .callback-form .modal-body form input[type=text],
    .callback-form .modal-body form input[type=email],
    .callback-form .modal-body form input[type=tel] {
      width: 100%; }
    .callback-form .modal-body form span[role=alert] {
      color: #E31D1D;
      font-size: .9em; }
    .callback-form .modal-body form div[role=alert] {
      border-color: #E31D1D;
      padding: 10px; }

.callback-form__desc {
  font-size: 15px; }

.callback-form__field {
  margin-bottom: 10px;
  font-size: 18px; }

.callback-form__important-desc {
  font-size: 14px; }

.callback-form__important {
  color: #E31D1D; }

.callback-form__submit {
  float: right;
  background: none; }

/**
***************************************************************
* =FOOTER
***************************************************************
**/
footer.footer {
  padding-top: 25px;
  background: #2C2B42; }

.footer-top {
  margin-bottom: 20px; }

/* Footer menu */
.footer-menu ul {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2; }
  .footer-menu ul li {
    margin-bottom: 10px; }
    .footer-menu ul li a {
      font-size: 18px;
      color: #969ba5; }
      .footer-menu ul li a:hover,
      .footer-menu ul li a:active,
      .footer-menu ul li a:focus {
        color: #fff; }

.footer__phone,
.footer__email {
  display: block;
  position: relative;
  color: #969ba5; }
  .footer__phone:hover,
  .footer__phone:active,
  .footer__phone:focus,
  .footer__email:hover,
  .footer__email:active,
  .footer__email:focus {
    text-decoration: none;
    color: #fff; }
    .footer__phone:hover:before,
    .footer__phone:active:before,
    .footer__phone:focus:before,
    .footer__email:hover:before,
    .footer__email:active:before,
    .footer__email:focus:before {
      color: #fff; }
  .footer__phone:before,
  .footer__email:before {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: -30px;
    color: #969ba5; }

.footer__phone {
  font-size: 20px;
  margin-bottom: 15px; }
  .footer__phone span {
    color: #fff; }
  .footer__phone:before {
    content: '\f095'; }

.footer__email:before {
  content: '\f0e0'; }

.copyright {
  text-align: center;
  color: #969ba5; }

/**
* ----------------------------------------------------------------------------------------------------
* @MEDIA
* ----------------------------------------------------------------------------------------------------
*/
@media screen and (max-width: 1200px) {
  /* Header */
  .header-info__phone {
    float: right;
    margin-bottom: 20px; }
  /* Catalog items list */
  .recent--cat .recent__item {
    width: 28%; }
  /* Main section list */
  .sec-list__image-link {
    margin-right: 20px; } }

@media screen and (max-width: 991px) {
  /* Main menu */
  #menu-main li a {
    font-size: 15px; }
  /* Main */
  .recent__item {
    margin-bottom: 20px; }
  /* Main section list */
  .sec-list__image-link {
    width: 25%; }
  /* Catalog items list */
  .recent--cat .recent__item {
    width: 45%; }
  .recent__img {
    width: 100%; }
  .impresstion {
    margin-bottom: 20px; }
  /* RECENT HIT */
  .recent--hit .recent__item:nth-child(3n+3) {
    clear: left; } }

@media screen and (max-width: 767px) {
  /* Header */
  .header-info__phone {
    display: none; }
  .header-info__callback {
    display: none; }
  /* Main menu */
  .navbar {
    min-height: auto; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none; }
  .navbar-nav {
    margin: 0 -10px; }
  .navbar-collapse {
    padding-left: 10px;
    padding-right: 10px; }
  .navbar-toggle .icon-bar + .icon-bar,
  .navbar-toggle .icon-bar {
    background: #e3621c;
    width: 42px;
    height: 6px;
    margin-top: 5px; }
  #menu-main > li {
    float: none;
    margin-bottom: 20px; }
  #menu-main > li > a {
    font-size: 16px; }
  #menu-main .menu-item-has-children:hover .sub-menu {
    display: none; }
  #menu-main .sub-menu:after {
    display: none; }
  /* Contact fomr */
  .callback-form--contact {
    width: 100%; }
    .callback-form--contact + div[role=alert] {
      width: 100%; } }

@media screen and (max-width: 640px) {
  aside.aside {
    display: none; }
  .content {
    width: 100%; }
  .category-desc {
    display: none; }
  /* Main section list */
  .sec-list__image-link {
    width: 100%;
    text-align: center;
    margin-bottom: 5px; }
  .sec-list__name {
    display: block;
    text-align: center; } }

@media screen and (max-width: 580px) {
  /* Contact form */
  .callback-form--contact {
    width: 100%; } }

@media screen and (max-width: 480px) {
  /*------------------------------------*	    Slider
	\*------------------------------------*/
  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
    margin-top: -15px; }
    .slick-prev:after,
    .slick-next:after {
      font-size: 30px; }
  /* Main */
  .recent__item {
    width: 100%;
    float: none;
    overflow: hidden; }
  .recent--cat {
    padding: 0 10px; }
  .recent--cat .recent__item {
    width: 100%;
    margin: 0; }
  /*------------------------------------*	    NEWS
	\*------------------------------------*/
  .news__left,
  .news__right {
    width: 100%;
    float: none; }
  .news__left {
    text-align: center; } }

@media screen and (max-width: 320px) {
  body {
    width: 320px; } }
