/**
* ----------------------------------------------------------------------------------------------------
* FONTS
* ----------------------------------------------------------------------------------------------------
*/



/**
* ----------------------------------------------------------------------------------------------------
* VARIABLES
* ----------------------------------------------------------------------------------------------------
*/

$white: #fff;
$black: #000;
$gray: #eee;
$gray-bold: #9A9A9A;
$gray-light: #969ba5;
$orange: #e3621c;
$footer_bg: #2C2B42;


@custom-selector :--hoverous :hover, :active, :focus;

/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
	display: inline-block;
}

body {
	font-family: "Open Sans";
	font-size: 16px;
}

// Stcky Footer
html, body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	margin-bottom: -165px;
}

.wrap:after {
	content: "";
	display: block;
}

.footer, .wrap:after {
	height: 165px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color:$orange;

	&:--hoverous {
		color: $black;
	}
}

h2 {
	font-weight: bold;
	font-size: 27px;
	margin-bottom: 25px;
}

h3 {
}

p {
	line-height: 25px;
}


/**
* ----------------------------------------------------------------------------------------------------
* HELPERS
* ----------------------------------------------------------------------------------------------------
*/

.btn {
	display: inline-block;
	padding: 9px 20px;
	color: $orange;
	border: 1px solid $orange;
	text-transform: uppercase;

	&:--hoverous {
		text-decoration: none;
		background: $orange;
		color: $white;
		transition: .4s color;
		transition: .3s background;
	}
}

.btn-order {
	color: $white;
	background: $orange;

	&:--hoverous {
		background: #f97933;
		border-color: #f97933;
	}
}

/*------------------------------------*\
    Boostrap menu
\*------------------------------------*/

.navbar {
	border: none;
}

.navbar-default {
	background: none;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}


