header.header {
	padding-top: 20px;
}

.header-top {
	padding-bottom: 20px;
	border-bottom: 1px solid $gray;
	margin-bottom: 20px;
}

.logo {
	display: block;
}

.header-info__phone {
	float: left;
	margin-top: 6px;
	font-size: 28px;
	font-weight: 600;
	position: relative;
	color: #333;

	&:--hoverous {
		text-decoration: none;
	}

	&:before {
		content: '\f095';
		font-family: FontAwesome;
		position: absolute;
		top: -3px;
		left: -50px;
		background: $orange;
		color: $white;
		font-size: 26px;
		border-radius: 50%;
		padding: 8px;
		text-align: center;
		width: 40px;
		height: 40px;
	}
}

.header-info__callback {
	float: right;
	padding: 12px 20px;
}


/*------------------------------------*\
    Menu
\*------------------------------------*/
.navbar-default {
	margin-bottom: 0;
}

#menu-main > li {
	float: left;
	margin-right: 30px;

	&:hover a {
		color: $orange;
		text-decoration: none;
	}
}

#menu-main li.current-menu-item a {
		color: $orange;

		&:after {
			color: $orange !important;
		}
	}

#menu-main > li > a {
	position: relative;
	color: #333;
	// padding: 15px 15px 0 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-weight: bold;
	transition: .1s color;

	&:--hoverous {
		text-decoration: none;
	}
}

#menu-main {
	a:--hoverous {
		text-decoration: none;
	}

	.menu-item-has-children {
		&:hover .sub-menu {
			display: block;
		}
	}

	.sub-menu {
		z-index: 1;
		position: absolute;
		top: 30px;
		left: 0;
		display: none;

		li {
			float: none;
			margin-right: 0;

			a {
				display: block;
				color: $white;
				background: $orange;
				padding: 10px 10px;
				border-bottom: 1px solid $orange-light;
				font-size: 15px;
				text-transform: none;
				font-weight: normal;

				&:hover {
					background: $orange-bold;
				}
			}

			&:last-child {
				a {
					border: none;
				}
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: -9px;
			left: 40px;
			border-bottom: 9px solid $orange;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
		}
	}
}

#menu-main > li:first-child > a {
	position: relative;
	// padding-left: 0;

	&:after {
		content: '\f078';
		color: $black;
		font-family: FontAwesome;
		position: absolute;
		top: 10px;
		right: -12px;
		font-size: 8px;
		margin-top: -4px;
	}
}

#menu-main > li:first-child:hover > a:after {
		color: $orange;
}

#menu-main > li:last-child {
	margin-right: 0;
}
/*------------------------------------*\
    Slider
\*------------------------------------*/

.slider {
	margin-bottom: 30px;
}

.slick-prev,
.slick-next {
	z-index: 1;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	display: block;
	size: 50px;
	color: transparent;
	background: none;
	border: none;
	outline: none;

	&:after {
		font-family: FontAwesome;
		position: absolute;
		top: 0;
		left: 2px;
		color: $white;
		font-size: 50px;
	}
}

.slick-prev {
	left: 20px;

	&:after {
		content: '\f137';
	}
}

.slick-next {
	right: 20px;

	&:after {
		content: '\f138';
	}
}

/**
***************************************************************
* =MAIN
***************************************************************
**/

.aside-cats {
	.cat-item {
		a {
			position: relative;
			display: block;
			padding: 15px 30px 15px 10px;
			color: $black;
			border-bottom: 1px solid $gray;

			&:--hoverous {
				text-decoration: none;
				color: $orange;

				&:after {
					right: 25px;
				}
			}

			&:after {
				content: '\f054';
				font-family: FontAwesome;
				position: absolute;
				top: 50%;
				right: 20px;
				color: $gray-bold;
				font-size: 12px;
				transition: right .5s;
			}
		}
	}

	.current-cat {
		a {
			color: $white;
			background: $orange;
			border-bottom: none;

			&:--hoverous {
				color: $white;
				background: $orange;
			}

			&:after {
				content: '';
			}
		}
	}
}

/*------------------------------------*\
    Main catalog section list
\*------------------------------------*/
.category-desc {
	font-size: 15px;
	margin-bottom: 40px;
}
.sec-list__item {
	margin-bottom: 20px;
}

.sec-list__image-link {
	display: inline-block;
	float: left;
	margin-right: 10px;
	width: 30%;
}

.sec-list__image {
	max-width: 100px;
}
.sec-list__name {
	font-size: 18px;
	font-weight: bold;

	&:--hoverous {
		text-decoration: none;
	}
}

/*------------------------------------*\
    Hits
\*------------------------------------*/
.recent {
	padding-bottom: 40px;
	border-bottom: 1px solid $gray;
	margin-bottom: 30px;
}
.wp-post-image,
.recent__img {
	margin-bottom: 10px
}

.recent__name {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;

	&:--hoverous {
		text-decoration: none;
	}
}

.recent__info {
	display: inline-block;
	margin-bottom: 10px;
	color: $gray-bold;
	font-size: 15px;
}

.recent__price {
	margin-bottom: 5px;
	font-weight: bold;
	text-align: right;
	font-size: 20px;
}

.recent__discount {
	color: $gray-bold;
	text-decoration: line-through;
	text-align: right;
	margin-bottom: 10px;
}

.recent__order {
	float: right;
}

/* Catalog item list */
.recent--cat .recent__item {
	width: 29%;
	display: inline-block;
	vertical-align: top;
	margin: 2%;
}

/*------------------------------------*\
    Handmade
\*------------------------------------*/
.handmade {
	padding-bottom: 40px;
	border-bottom: 1px solid $gray;
	margin-bottom: 30px;
}
.handmade__img {
	float: left;
	margin-right: 20px;
}

/*------------------------------------*\
    Main page news
\*------------------------------------*/
.main-page-news-header h2 {
	display: inline-block;
	float: left;
}

.main-page-news-header__all {
	display: inline-block;
	float: right;
}

.news-list {
	img {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		max-width: 120px;
		max-height: 50px;
	}
}

.news-list__item {
	margin-bottom: 20px;
}

.news-list__date {
	position: relative;
	padding-left: 20px;
	color: $gray-bold;

	&:after {
		content: '\f073';
		font-family: FontAwesome;
		position: absolute;
		top: 2px;
		left: 0;
	}
}

.news-list__name {
	display: block;
	margin-top: 5px;

	&:--hoverous {
		text-decoration: none;
	}
}

/*------------------------------------*\
    Breadcrumbs
\*------------------------------------*/

.breadcrumbs {
	margin-bottom: 20px;

	a {
		color: $gray-bold;
		font-size: 12px;

		&:--hoverous {
			text-decoration: none;
		}
	}

	i {
		color: $orange;
		font-size: 10px;
	}
}

.breadcrumbs__page {
	color: $gray-bold;
	font-size: 12px;
}

// .bradcrumbs__link {
// 	&:--hoverous {
// 		text-decoration: none;
// 	}
// }


/*------------------------------------*\
    Pagination
\*------------------------------------*/

.wp-pagenavi {
	text-align: center;

	a:first-child,
	.current:first-child {
		border-left: 1px solid $gray;
	}

	a,
	.current {
		display: inline-block;
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;
		padding: 10px;

		&:--hoverous {
			text-decoration: none;
		}
	}

	a {
		&:--hoverous {
			@include orange-colorize($orange);
		}
	}

	.current {
		@include orange-colorize($orange);
	}
}

/**
***************************************************************
* =PAGES
***************************************************************
**/

/*------------------------------------*\
    NEWS
\*------------------------------------*/

.news__item {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid $gray;

	&:last-child {
		border: none;
	}
}

.news__name {
	display: inline-block;
	margin-bottom: 10px;
	color: $orange;
	font-weight: bold;

	&:--hoverous {
		text-decoration: none;
	}
}

.news__date {
	display: block;
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
	color: $gray-bold;

	&:after {
		content: '\f073';
		font-family: FontAwesome;
		position: absolute;
		top: 0px;
		left: 0;
	}
}

.news__excerpt {
	font-size: 13px;
	line-height: 21px;
	margin-bottom: 10px;
}

/*------------------------------------*\
    Single news
\*------------------------------------*/
.single-news {
	img {
		float: left;
		margin-right: 10px;
	}
}

.single-news__text {
	font-size: 15px;
	margin-bottom: 15px;
}

.single-news__back {
	position: relative;
	margin-left: 25px;
	color: $orange;
	font-size: 18px;

	&:after {
		content: '\f0a5';
		font-family: FontAwesome;
		position: absolute;
		top: 2px;
		left: -25px;
		font-size: 18px;
	}
}

/*------------------------------------*\
    Faq
\*------------------------------------*/
.faq {
	list-style-type: none;
}
.faq__name {
	position: relative;
	display: block;
	padding: 20px 30px 20px 0;
	cursor: pointer;
	border-bottom: 2px solid $gray-bold;
	font-size: 19px;
	font-weight: bold;
	transition: border-bottom .3s;

	&:hover {
		border-bottom: 2px solid $orange;

		i {
			color: $orange;
		}
	}

	i {
		position: absolute;
		top: 11px;
		right: 0;
		font-size: 30px;
		color: $gray-bold;
		transition: color .3s;
	}
}

.faq__name--active {
	border-bottom: 2px solid $orange;

	&:hover {
		border-bottom: 2px solid $orange;

		i {
			color: $orange;
		}
	}

	i {
		color: $orange;
	}
}

.faq__content {
	display: none;
	padding-top: 10px;
	font-size: 18px;
	line-height: 22px;
}


/*------------------------------------*\
    Callback form
\*------------------------------------*/
.callback-form {
	.modal-header {
		position: relative;
		text-align: center;
		background: $blue-light;
		border: none;

		.modal-title {
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			background: none;
			outline: none;
			border: none;

			i {
				color: $gray-bold;
				font-size: 30px;
				transition: color .2s;
			}

			&:hover {
				i {
					color: $orange;
				}
			}
		}
	}

	.modal-body {
		overflow: hidden;

		form {
			width: 385px;
			margin: 0 auto;

			span[role=alert] {
				color: $red;
				font-size: .9em;
			}

			div[role=alert] {
				border-color: $red;
				padding: 10px;
			}
		}
	}
}

.callback-form__desc {
	font-size: 15px;
}

.callback-form__field {
	margin-bottom: 10px;
	font-size: 18px;
}
.callback-form__important {
	color: $red;
}

.callback-form__submit {
	float: right;
	background: none;
}

/**
***************************************************************
* =FOOTER
***************************************************************
**/

footer.footer {
	padding-top: 25px;
	background: $footer_bg;
}

.footer-top {
	margin-bottom: 20px;
}

/* Footer menu */
.footer-menu ul {
	columns: 2;

	li {
		margin-bottom: 10px;

		a {
			font-size: 18px;
			color: $gray-light;

			&:--hoverous {
				color: $white;
			}
		}
	}
}

.footer__phone,
.footer__email {
	display: block;
	position: relative;
	color: $gray-light;

	&:--hoverous {
		text-decoration: none;
		color: $white;

		&:before {
			color: $white;
		}
	}

	&:before {
		font-family: FontAwesome;
		position: absolute;
		top: 0;
		left: -30px;
		color: $gray-light;
	}
}

.footer__phone {
	font-size: 20px;
	margin-bottom: 15px;

	span {
		color: $white;
	}

	&:before {
		content: '\f095';
	}
}

.footer__email {
	&:before {
		content: '\f0e0';
	}
}

.copyright {
	text-align: center;
	color: $gray-light;
}

/**
* ----------------------------------------------------------------------------------------------------
* @MEDIA
* ----------------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 1200px) {
	/* Header */
	.header-info__phone {
		float: right;
		margin-bottom: 20px;
	}

	/* Catalog items list */
	.recent--cat .recent__item {
		width: 28%;
	}

	/* Main section list */
	.sec-list__image-link {
		margin-right: 20px;
	}
}

@media screen and (max-width: 991px) {
	/* Main menu */
	#menu-main li a {
		font-size: 15px;
	}

	/* Main */
	.recent__item {
		margin-bottom: 20px;
	}

	/* Main section list */
	.sec-list__image-link {
		width: 25%;
	}

	/* Catalog items list */
	.recent--cat .recent__item {
		width: 45%;
	}

	.recent__img {
		width: 100%;
	}

	.impresstion {
		margin-bottom: 20px;
	}

	/* RECENT HIT */
	.recent--hit {
		.recent__item:nth-child(3n+3) {
			clear: left;
		}
	}
}

@media screen and (max-width: 767px) {
	/* Header */
	.header-info__phone {
		display: none;
	}

	.header-info__callback {
		display: none;
	}

	/* Main menu */
	.navbar {
		min-height: auto;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}

	.navbar-nav {
		margin: 0 -10px;
	}

	.navbar-collapse {
		padding-left: 10px;
		padding-right: 10px;
	}

	.navbar-toggle .icon-bar+.icon-bar,
	.navbar-toggle .icon-bar{
		background: $orange;
		width: 42px;
		height: 6px;
		margin-top: 5px;
	}

	#menu-main > li {
		float: none;
		margin-bottom: 20px;
	}

	#menu-main > li > a {
		font-size: 16px;
	}

	#menu-main {
		.menu-item-has-children {
			&:hover .sub-menu {
				display: none;
			}
		}

		.sub-menu {
			&:after {
				display: none;
			}
		}
	}

	/* Callback form */
	.callback-form {
		.modal-body {
			form {
				width: 480px;

				input[type=text],
				input[type=email],
				input[type=tel] {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width:640px) {
	aside.aside {
		display: none;
	}

	.content {
		width: 100%;
	}

	.category-desc {
		display: none;
	}

	/* Main section list */
	.sec-list__image-link {
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
	}

	.sec-list__name {
		display: block;
		text-align: center;
	}
}

@media screen and (max-width:580px) {
	/* Callback form */
	.callback-form {
		.modal-body {
			form {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width:480px) {
	/*------------------------------------*\
	    Slider
	\*------------------------------------*/
	.slick-prev,
	.slick-next {
		size: 30px;
		margin-top: -15px;

		&:after {
			font-size: 30px;
		}
	}

	/* Main */
	.recent__item {
		width: 100%;
		float: none;
		overflow: hidden;
	}

	.recent--cat {
		padding: 0 10px;
	}

	.recent--cat .recent__item {
		width: 100%;
		margin: 0;
	}

	/*------------------------------------*\
	    NEWS
	\*------------------------------------*/
	.news__left,
	.news__right {
		width: 100%;
		float: none;
	}

	.news__left {
		text-align: center;
	}
}

@media screen and (max-width:320px) {
	body {
		width: 320px;
	}
}
