header.header {
	padding-top: 20px;
}

.header-top {
	padding-bottom: 20px;
	border-bottom: 1px solid $gray;
	margin-bottom: 20px;
}

.logo {
	display: block;
}

.header-info__phone {
	float: left;
	margin-top: 6px;
	font-size: 28px;
	font-weight: 600;
	position: relative;
	color: #333;

	&:--hoverous {
		text-decoration: none;
	}

	&:before {
		content: '\f095';
		font-family: FontAwesome;
		position: absolute;
		top: -3px;
		left: -50px;
		background: $orange;
		color: $white;
		font-size: 26px;
		border-radius: 50%;
		padding: 8px;
		text-align: center;
		width: 40px;
		height: 40px;
	}
}

.header-info__callback {
	float: right;
	padding: 12px 20px;
}


/*------------------------------------*\
    Menu
\*------------------------------------*/
.navbar-default {
	margin-bottom: 0;
}

#menu-main li {
	float: left;
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}
}

#menu-main li.current-menu-item a {
		color: $orange;
	}

#menu-main li a {
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
	transition: .1s color;

	&:--hoverous {
		color: $orange;
		text-decoration: none;
	}
}

/* SLIDER */
.slider {
	margin-bottom: 30px;
}
.slick-prev,
.slick-next {
	z-index: 1;
	position: absolute;
	top: 50%;
	display: block;
	size: 50px;
	color: transparent;
	background: none;
	border: none;
	outline: none;

	&:after {
		font-family: FontAwesome;
		position: absolute;
		top: 0;
		left: 2px;
		color: $white;
		font-size: 50px;
	}
}

.slick-prev {
	left: 20px;

	&:after {
		content: '\f137';
	}
}

.slick-next {
	right: 20px;

	&:after {
		content: '\f138';
	}
}

/**
***************************************************************
* =MAIN
***************************************************************
**/

.aside-cats {
	.cat-item {
		a {
			position: relative;
			display: block;
			padding: 15px 30px 15px 10px;
			color: $black;
			border-bottom: 1px solid $gray;

			&:--hoverous {
				text-decoration: none;
				color: $orange;

				&:after {
					right: 25px;
				}
			}

			&:after {
				content: '\f054';
				font-family: FontAwesome;
				position: absolute;
				top: 50%;
				right: 20px;
				color: $gray-bold;
				font-size: 12px;
				transition: right .5s;
			}
		}

	}
		.current-cat {
			a {
				color: $white;
				background: $orange;
				border-bottom: none;

				&:--hoverous {
					color: $white;
					background: $orange;
				}

				&:after {
					content: '';
				}
			}
		}
}

/*------------------------------------*\
    Hits
\*------------------------------------*/
.recent {
	padding-bottom: 40px;
	border-bottom: 1px solid $gray;
	margin-bottom: 30px;
}
.wp-post-image,
.recent__img {
	margin-bottom: 10px
}

.recent__name {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;

	&:--hoverous {
		text-decoration: none;
	}
}

.recent__info {
	display: inline-block;
	margin-bottom: 10px;
	color: $gray-bold;
	font-size: 15px;
}

.recent__price {
	margin-bottom: 5px;
	font-weight: bold;
	text-align: right;
	font-size: 20px;
}

.recent__discount {
	color: $gray-bold;
	text-decoration: line-through;
	text-align: right;
	margin-bottom: 10px;
}

.recent__order {
	float: right;
}

/* Catalog item list */
.recent--cat .recent__item {
	width: 29%;
	display: inline-block;
	vertical-align: top;
	margin: 2%;
}

/*------------------------------------*\
    Handmade
\*------------------------------------*/
.handmade {
	padding-bottom: 40px;
	border-bottom: 1px solid $gray;
	margin-bottom: 30px;
}
.handmade__img {
	float: left;
	margin-right: 20px;
}

/*------------------------------------*\
    Main page news
\*------------------------------------*/
.main-page-news-header h2 {
	display: inline-block;
	float: left;
}

.main-page-news-header__all {
	display: inline-block;
	float: right;
}

.news-list__item {
	margin-bottom: 20px;
}

.news-list__img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.news-list__date {
	position: relative;
	padding-left: 20px;
	color: $gray-bold;

	&:after {
		content: '\f073';
		font-family: FontAwesome;
		position: absolute;
		top: 2px;
		left: 0;
	}
}

.news-list__name {
	display: block;
	margin-top: 5px;
}

/**
***************************************************************
* =FOOTER
***************************************************************
**/

footer.footer {
	padding-top: 25px;
	background: $footer_bg;
}

.footer-top {
	margin-bottom: 20px;
}

/* Footer menu */
.footer-menu ul {
	columns: 2;

	li {
		margin-bottom: 10px;

		a {
			font-size: 18px;
			color: $gray-light;

			&:--hoverous {
				color: $white;
			}
		}
	}
}

.footer__phone,
.footer__email {
	display: block;
	position: relative;
	color: $gray-light;

	&:--hoverous {
		text-decoration: none;
		color: $white;

		&:before {
			color: $white;
		}
	}

	&:before {
		font-family: FontAwesome;
		position: absolute;
		top: 0;
		left: -30px;
		color: $gray-light;
	}
}

.footer__phone {
	font-size: 20px;
	margin-bottom: 15px;

	span {
		color: $white;
	}

	&:before {
		content: '\f095';
	}
}

.footer__email {
	&:before {
		content: '\f0e0';
	}
}

.copyright {
	text-align: center;
	color: $gray-light;
}

/**
* ----------------------------------------------------------------------------------------------------
* @MEDIA
* ----------------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 1200px) {
	/* Header */
	.header-info__phone {
		float: right;
		margin-bottom: 20px;
	}

	/* Catalog items list */
	.recent--cat .recent__item {
		width: 28%;
	}
}

@media screen and (max-width: 991px) {
	/* Main menu */
	#menu-main li {
		margin-right: 20px;
	}

	#menu-main li a {
		font-size: 15px;
	}

	/* Main */
	.recent__item {
		margin-bottom: 20px;
	}

	/* Catalog items list */
	.recent--cat .recent__item {
		width: 45%;
	}

	.recent__img {
		width: 100%;
	}

	.impresstion {
		margin-bottom: 20px;
	}

	/* RECENT HIT */
	.recent--hit {
		.recent__item:nth-child(3n+3) {
			clear: left;
		}
	}
}

@media screen and (max-width: 767px) {
	/* Header */
	.header-info__phone {
		display: none;
	}

	.header-info__callback {
		display: none;
	}

	/* Main menu */
	.navbar {
		min-height: auto;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}

	.navbar-nav {
		margin: 0 -10px;
	}

	.navbar-collapse {
		padding-left: 10px;
		padding-right: 10px;
	}

	.navbar-toggle .icon-bar+.icon-bar,
	.navbar-toggle .icon-bar{
		background: $orange;
		width: 42px;
		height: 6px;
		margin-top: 5px;
	}

	#menu-main li {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}

	#menu-main li a{
		font-size: 16px;
	}
}

@media screen and (max-width:480px) {
	/* Main */
	.recent__item {
		width: 100%;
		float: none;
		overflow: hidden;
	}

	.recent--cat {
		padding: 0 10px;
	}

	.recent--cat .recent__item {
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width:640px) {
	aside.aside {
		display: none;
	}

	.content {
		width: 100%;
	}
}

@media screen and (max-width:320px) {
	body {
		width: 320px;
	}
}
